<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- title %></title>
    <script
      src="https://kit.fontawesome.com/b3b219037e.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="./assets/style/all.css" />
  </head>
  <body>
    <nav class="main-nav fixed-bottom bg-secondary text-primary container-fluid p-0">
      <ul class="list-unstyled row g-0 mb-0">
        <li class="col">
          <a href="side-menu.html" class="main-nav__item d-flex flex-column text-center <% if (current === 'nav-link01') {%>main-nav__item--active<%} %>">
            <i class="fa-solid fa-house"></i>
            <span>用電分析 </span>
          </a>
        </li>
        <li class="col">
          <a href="table.html" class="main-nav__item d-flex flex-column text-center <% if (current === 'nav-link02') {%>main-nav__item--active<%} %>">
            <i class="fa-solid fa-user"></i>
            <span>用水分析 </span>
          </a>
        </li>
        <li class="col">
          <a href="index.html" class="main-nav__item d-flex flex-column text-center <% if (current === 'index') {%>main-nav__item--active<%} %>">
            <i class="fa-brands fa-github"></i>
            <span>首頁 </span>
          </a>
        </li>
        <li class="col">
          <a href="" class="main-nav__item d-flex flex-column text-center <% if (current === 'nav-link04') {%>main-nav__item--active<%} %>">
            <i class="fa-solid fa-music"></i>
            <span>設備列表 </span>
          </a>
        </li>
        <li class="col">
          <a href="" class="main-nav__item d-flex flex-column text-center <% if (current === 'nav-link05') {%>main-nav__item--active<%} %>">
            <i class="fa-solid fa-heart"></i>
            <span>歷年用電 </span>
          </a>
        </li>
      </ul>
    </nav>
    <%- contents %>
    <footer>footer</footer>
    <script src="./assets/js/vendors.js"></script>
    <!-- <script src="./assets/js/all.js"></script> -->
  </body>
</html>
